<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@



    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/MDB-Pro/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Material Design Bootstrap -->
    <link href="~/Content/MDB-Pro/css/mdb.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style rel="stylesheet">
        /* TEMPLATE STYLES */
        /* Necessary for full page carousel*/

        html,
        body,
        .view {
            height: 100%;
        }
        /* Navigation*/

        .navbar {
            /*background-color: transparent;*/
             background-color: #1c2331;
        }

        .scrolling-navbar {
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }

        .top-nav-collapse {
            background-color: #1C2331;
        }

        footer.page-footer {
            background-color: #1C2331;
            margin-top: 0;
        }

        @@media only screen and (max-width: 768px) {
            .navbar {
                background-color: #1C2331;
            }
        }


        .top {
            margin-top: 100px;
            min-height: 500px;
        }
    </style>

</head>
<body>

    @Html.Partial("_Navigation")

    @RenderBody()

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<script src="~/Content/MDB-Pro/js/jquery-2.2.3.min.js"></script>*@
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script src="~/Content/MDB-Pro/js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/MDB-Pro/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script src="~/Content/MDB-Pro/js/mdb.min.js"></script>


</body>
</html>
