@model AuthenticationApp.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password Form";
}

<div class="row top grey-text">
    <div class="offset-md-4 col-md-4">
        <div class="card-block">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h3><i class="fa fa-pencil"></i> @ViewBag.Title</h3>

                <br />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                </div>
                <div class="md-form text-xs-center">
                    <button type="submit" class="btn btn-cyan" style="width:50%;">Change password</button>
                </div>
            }
        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>