@model AuthenticationApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Account";
}

<style>
    div {
        margin-bottom:25px;
    }
</style>
<div class="row top">
    <h2 class="text-xs-center">@ViewBag.Title</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <h4 class="text-xs-center">Change your account settings</h4>
    <hr />
    <br />

    <div class="offset-md-4 col-md-2">
        <b>Password:</b>
    </div>

    <div class="col-md-6">
        @if (Model.HasPassword)
            {
            @Html.ActionLink("Change your password", "ChangePassword")
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword")
        }
    </div>


    <div class="offset-md-4 col-md-2">
        <b>External Logins:</b>
    </div>

    <div class="col-md-6">
        @Model.Logins.Count [ @Html.ActionLink("Manage", "ManageLogins") ]
    </div>

    <div class="offset-md-4 col-md-2">
        <b>Phone Number:</b>
    </div>

    <div class="col-md-6">
        @(Model.PhoneNumber ?? "None")
        @if (Model.PhoneNumber != null)
            {
            <br />
            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
            }
        }
        else
        {
            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")]</text>
        }
    </div>


    <div class="offset-md-4 col-md-2">
        <b>Two-Factor Authentication:</b>
    </div>
    <div class="col-md-6">
        @if (Model.TwoFactor)
        {
            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Raw("Enabled")
                <button type="submit" value="Disable" class="btn btn-primary btn-sm">Disable</button>
            }
        }
        else
        {
            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Raw("Disabled")
                <button type="submit" value="Enable" class="btn btn-primary btn-md">Enable</button>
            }
        }
    </div>

</div>

