@model AuthenticationApp.Models.TaskData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaskData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VenderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartNumberRevision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartNumberRevision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Process)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Process)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityBreak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityBreak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeadTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
