@model AuthenticationApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="row top">
    <div class="offset-md-4 col-md-4">

        <div class="card-block">
            <h3><i class="fa fa-question-circle fa-2x"></i> @ViewBag.Title</h3>
            <br />

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <h4><i class="fa fa-pencil fa-1x"></i> Enter your email</h4>

            
                <br />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                <div class="md-form text-xs-center">
                    <button type="submit" class="btn btn-cyan"  style="width:50%;" >Email Link</button>
                </div>
            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>
