@using AuthenticationApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<style>
    /*.card-block input label span {
        padding-left: 20px;
    }

    .card-block input {
        padding-left: 10px;
    }*/
</style>

    <div class="row top">
        <!--Form without header-->

        <div class="offset-md-2 col-md-4">
            <section id="loginForm">
                @*<div class="card">*@
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="card-block">
                        <!--Header-->
                        <div class="text-xs-center">
                            <h3><i class="fa fa-lock"></i> Login:</h3>
                            <hr class="mt-2 mb-2">
                        </div>

                        <!--Body-->
                        <div class="md-form">
                            <i class="fa fa-envelope prefix"></i>
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="md-form">
                            <i class="fa fa-lock prefix"></i>
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="offset-md-1">
                            <input type="checkbox" id="rememberMe" name="rememberMe" value="true">
                            <label class="link" style="font-size:small;" for="rememberMe">Remember me?</label>
                        </div>

                        <div class="text-xs-center" style="margin-top:80px;">
                            <button type="submit" class="btn btn-cyan" style="width:50%;">Login</button>
                        </div>

                        <!--Footer-->

                        <div class="form-group" style="font-size:.8em;">
                            <div class="modal-footer">
                                <div class="options">
                                    <p>
                                        @Html.ActionLink("Sign up as a new user", "Register")
                                    </p>
                                    <p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @*</div>*@
            </section>



        </div>
        

        <div class="offset-md-1 col-md-4">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div>
    </div>


<!--/Form without header-->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
