@model AuthenticationApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<style>
    .my-form-control {
        margin-left: 150px;
        width: 70%;
    }
</style>

<div class="row top grey-text">
    <div class="offset-md-4 col-md-4">

        <!--Form without header-->
        <div class="card-block">

            <!--Header-->
            <div class="text-xs-center">
                <h3><i class="fa fa-sign-in"></i> Sign Up</h3>
            </div>
            <br />
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <!--Body-->
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                <div class="md-form">
                    <i class="fa fa-building-o prefix"></i>
                    @Html.LabelFor(m => m.CompanyName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
                </div>


                <div class="md-form">
                    @Html.LabelFor(model => model.UserType, htmlAttributes: new { @class = "control-label col-sm-4" })
                    @Html.EnumDropDownListFor(model => model.UserType, htmlAttributes: new { @class = "form-control my-form-control col-sm-4" })

                </div>

                <div class="text-xs-center" style="margin-top:200px;">
                    <button type="submit" class="btn btn-cyan" style="width:50%;">Sign Up</button>
                </div>
            }
        </div>
    </div>
</div>
<!--/Form without header-->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
