@model AuthenticationApp.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send";
}
<div class="row top">
    <div class="offset-md-4 col-md-4">

        <div class="card-block">
            @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("rememberMe", @Model.RememberMe)

                <h3><i class="fa fa-share-square-o fa-2x"></i> Send verification code</h3>
                <hr />
                <br />
                <div>
                    Select Two-Factor Authentication Provider:
                    @Html.DropDownListFor(model => model.SelectedProvider,
                                          Model.Providers, new
                                          {
                                              @class = "btn btn-primary dropdown-toggle",
                                              style = "width: 200px;",
                                              auto_post_back = ""
                                          })


                </div>

                <div class="md-form text-xs-center" >
                    <input type="submit" value="Send" class="btn btn-primary my-botton-pos" />
                </div>

            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>