@model AuthenticationApp.Models.VerifyCodeViewModel
@{
    ViewBag.Title = "Verify";
}

<div class="row top grey-text">
    <div class="offset-md-4 col-md-4">

        <div class="card-block">
            @using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("provider", @Model.Provider)
                @Html.Hidden("rememberMe", @Model.RememberMe)

                <h3><i class="fa fa-keyboard-o fa-2x"></i> Enter verification code</h3>
                <br />

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="md-form">
                    <i class="fa fa-pencil-square-o"></i>
                    @Html.LabelFor(m => m.Code, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })

                </div>
                <div class="md-form">
                    <input type="checkbox" id="RememberBrowser" name="RememberBrowser" value="true">
                    <label class="link" style="font-size:small;" for="RememberBrowser">Remember Browser?</label>
                </div>
                <div class="md-form text-xs-center" style="margin-top:100px;">
                    <input type="submit" class="btn btn-primary" value="Submit" style="width:50%;" />
                </div>
            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>